  
  #parent-div{width:100%;height:100%;}
  
  #left-div{background-color:#515151;width:15%;height:100%;float:left;}
     #headPohto{margin:5px;}
     
     #firstmenulist{margin:20px;}
       #firstmenulist li{margin-top:20px;}
       #firstmenulist span{float:right;}
       #secondmenulist{display:none;}
         #secondmenulist li{margin-top:-5px;}
  
  #right-top-div{width:85%;height:10%;float:left; border:1px solid green}
    #right-top-div div p{height:50%;}
       #dropdown-menu-div{float:right;margin-right:20px;}
       #login{float:right;margin-right:20px;}
       #regist{float:right;margin-right:20px;} 
    
    
  #right-down-div{width:85%;height:88%;float:left;margin-top:8px;}
    #table-div{height:90%;}
    #right-down-div-table{text-align:center;}
    #bottom-div{height:10%;border:1px solid green;text-align:center;line-height:50px;}
       #bottom-div a{margin-left:10px;}